@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

html, body {
  width: 100%;
  height: 100%;
  overflow: auto;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
