

schema-form {
  display: block;
  font-size: 12px;
  border: 1px solid rgba(0,0,0,.2);
  padding: 2px 4px;
  margin: 2px;
}

schema-form .sf-element {
  display: block;
  padding: 2px;
  margin-bottom: 4px;
}

schema-form sf-object {
  border: 1px solid rgba(0,0,0,.2);
  padding: 2px 4px !important;
}

schema-form form > sf-object {
  border: none;
}

schema-form input {
  border: 1px solid rgba(0,0,0,.6);
  padding: 2px;
}

schema-form label {
  font-weight: bolder;
  display: block;
}

schema-form label.section {
  font-size: 1rem;
  padding: 2px 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
}

schema-form span {
  display: block;
}

schema-form input:read-only {
  background-color: rgba(0,0,0,.2);
}
