[@aujsf/core](../README.md) › [Globals](../globals.md) › ["core/src/models/error-schema"](../modules/_core_src_models_error_schema_.md) › [ValidationResult](_core_src_models_error_schema_.validationresult.md)

# Interface: ValidationResult

## Hierarchy

* **ValidationResult**

## Index

### Properties

* [errorSchema](_core_src_models_error_schema_.validationresult.md#errorschema)
* [errors](_core_src_models_error_schema_.validationresult.md#errors)
* [valid](_core_src_models_error_schema_.validationresult.md#valid)

## Properties

###  errorSchema

• **errorSchema**: *[ErrorSchema](_core_src_models_error_schema_.errorschema.md)*

*Defined in [core/src/models/error-schema.ts:8](https://github.com/jbockle/au-jsonschema-form/blob/master/packages/core/src/models/error-schema.ts#L8)*

___

###  errors

• **errors**: *ErrorObject[]*

*Defined in [core/src/models/error-schema.ts:7](https://github.com/jbockle/au-jsonschema-form/blob/master/packages/core/src/models/error-schema.ts#L7)*

___

###  valid

• **valid**: *boolean*

*Defined in [core/src/models/error-schema.ts:6](https://github.com/jbockle/au-jsonschema-form/blob/master/packages/core/src/models/error-schema.ts#L6)*
