@import "~bootswatch/dist/sandstone/variables";

.examples-layout {
  display: grid;
  grid-template-areas:
    "empty header"
    "editor form";
  grid-template-rows: min-content auto;
  grid-template-columns: auto auto;

  .select-example {
    grid-area: header;
  }

  .monaco-grid {
    grid-area: editor;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .monaco-editor-layout {
      border: 1px solid $secondary;
      display: grid;
      grid-template-rows: min-content auto;

      h4 {
        margin: 4px;
      }
    }
  }

  form-section {
    grid-area: form;
    display: flex;
    flex-direction: column;
  }
}
