@import "~bootswatch/dist/sandstone/variables";

events-modal {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(#000, 50%);

  modal-content {
    display: block;
    background-color: var(--gray-dark);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 55vh;
    overflow: auto;
    border: 1px solid var(--info);
    border-radius: 5px;

    td {
      max-width: 20vw;
      overflow: hidden;
      white-space: nowrap;

      span {
        text-overflow: ellipsis;
      }

      &:last-child {
        width: 140px;
      }
    }

    .close-events {
      cursor: pointer;
      position: absolute;
      top: 2px;
      right: 5px;
    }
  }
}
